{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'frontend/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <header class="text-white">
        <div class="container text-center">
            <img src="{{ asset('images/logo_LFDL-transparente.png') }}" alt="Logo de LFDL">
            <h1>La Flor de Levante</h1>
            <p class="lead">Helados artesanos desde 1934</p>
            <a href="{{ path('category_index') }}">
                <button type="button" class="btn btn-primary btn-lg">Hacer pedido</button>
            </a>
        </div>
    </header>

    <h1>Home</h1>
    <p>Sistema para la realización de pedidos.</p>
    <a href="{{ path('category_index') }}">Menú</a>
{% endblock %}