{% extends 'base.html.twig' %}

{% block header %}
    {% include 'frontend/header.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Menú</h1>

    <h2>Lista de subcategorías</h2>

    {% for subcategory in subcategories %}
        <p>
            <a href="{{ path('product_index', {'categorySlug': categorySlug ,'subcategorySlug': subcategory.slug}) }}">{{ subcategory.name }}</a>
        </p>
    {% else %}
        <p>
            No categories have been found.
        </p>
    {% endfor %}
{% endblock %}