{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Sucategorías</h1>

    <h2>Lista de productos</h2>

    {% for product in products %}
        <p>
            <a href="{{ path('product_show', {'categorySlug': categorySlug ,'subcategorySlug': subcategorySlug, 'productSlug': product.slug}) }}">{{ product.name }}</a>
        </p>
    {% else %}
        <p>
            No products have been found.
        </p>
    {% endfor %}
{% endblock %}