{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Subcategories</h1>

    {% for subcategory in subcategories %}
        <p>
            <a href="{{ path('product_index', {'subcategoryId': subcategory.id}) }}">{{ subcategory.name }}</a>
        </p>
    {% else %}
        <p>
            No categories have been found.
        </p>
    {% endfor %}
{% endblock %}