/*******************************************************************************************************
 * Global
*******************************************************************************************************/

.bg-dark {
    background-color: #0e2f51 !important;
}

a:hover {
    text-decoration: none;
}

body {
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.container {
    flex: 1;
}

/*******************************************************************************************************
 * Navbar
*******************************************************************************************************/

nav a:focus {
    outline: 0;
}

nav #texto-expandido,
nav #texto-iniciales {
    font-family: sans-serif, Arial, Helvetica;
    font-style: italic;
    font-weight: 900;
}

nav .navbar-brand {
    display: flex;
    justify-content: flex-start;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

nav button:focus {
    outline: 0;
}

nav .navbar-brand {
    flex-grow: 1;
    display: flex;
    order: 1;
}

nav #navbarResponsive {
    order: 2;
}

nav .shopping-cart-icon {
    padding: 0 1rem;
    color: rgba(255,255,255,.5);
    order: 3;
}

nav .shopping-cart-icon:hover {
    color: rgba(255,255,255,.75);
}

@media (max-width: 449px) {
    #texto-expandido {
        display: none;
    }
}

@media (min-width: 450px) {
    #texto-iniciales {
        display: none;
    }
}

@media (max-width: 992px) {
    nav button {
        order: 3;
    }

    nav .shopping-cart-icon {
        order: 2;
    }
    nav #navbarResponsive {
        order: 4;
    }
}


/*******************************************************************************************************
 * Header
*******************************************************************************************************/

header {
    background: url("../images/header.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    padding-top: 56px
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

header .container img {
    width: 300px;
    margin-bottom: 1rem;
}

header h1 {
    font-family: sans-serif, Arial, Helvetica;
    font-style: italic;
    font-weight: 900;
}

@media (max-width: 992px) {
    header .container img {
        width: 150px;
    }
}

/*******************************************************************************************************
 * Header
*******************************************************************************************************/

footer{
    color: rgba(255,255,255,.5);
    text-align: center;
    padding: 5px 0 10px 0;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

footer a:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

footer a:focus {
    outline: 0;
}

/*********************************************************************************************************/
/** Categories, Subcategories, Products Sections                                                         */
/*********************************************************************************************************/

.card-body {
    text-align: center;
}

.card {
    border: none;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.categories,
.subcategories,
.products,
.product,
.order,
.offers-section {
    padding-top: 56px;
}

.categories h1,
.subcategories h1,
.products h1,
.product h1,
.order h1,
.offers-section h1 {
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .categories h1,
    .subcategories h1,
    .products h1,
    .product h1 {
        text-align: center;
    }
}

.mensaje {
    margin-top: 5rem;
    margin-bottom: 0;
}

/*********************************************************************************************************/
 /** Product Section                                                                                     */
/*********************************************************************************************************/

.product {
    padding-bottom: 5rem;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
}

.product-details h1 {
    padding-bottom: 1rem;
}

.product-details p {
    margin-bottom: 1.2rem;
    color: grey;
}

.allergen {
    color: saddlebrown;
}

.allergen-free {
    color: green;
}

.price {
    color: #9f191f;
    font-size: 1.4rem;
    padding-left: 0.6rem;
}

.product-image {
    max-width: 100%;
}

.choices-section {
    padding-top: 3rem;
    color: grey;
}

.choices-section h5 {
    padding-bottom: 1rem;
}

.choices-section form {
    display: flex;
    flex-wrap: wrap;
}

.quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantity .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.quantity .form-group label {
    margin: 0;
}

.quantity .form-group select {
    margin: 0 1rem;
    max-width: 5rem;
}

.product-choices {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.form-check {
    padding: 1.5rem 0.5rem;
}

.choices-images {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

.choice-image {
    max-width: 62px;
    padding: 5px 0;
}

.choices-allergens {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
}

.choice-allergens {
    display: flex;
    padding: 1.5rem 0.5rem;
}

.choice-allergen {
    padding-left: 5px;
}

.choices-prices {
    padding: 38px 0.5rem 0 0.5rem;
    min-width: 5rem;
}

.choices-prices p {
    margin-bottom: 0;
}

.choice-price {
    padding: 1.5rem 0;
}

@media (max-width: 768px) {
    .choices-images {
        display: none;
    }
}

@media (min-width: 0px) {
    .choices-allergens,
    .choices-prices {
        padding-top: 62px;
    }
}

@media (min-width: 491px) {
    .choices-allergens,
    .choices-prices {
        padding-top: 38px;
    }
}

/*********************************************************************************************************/
/** edit-item Section                                                                                     */
/*********************************************************************************************************/

.edit-item {
    padding-top: 5rem;
}

.product-table button {
    margin-bottom: 5px;
}



/*********************************************************************************************************/
/** order Section                                                                                     */
/*********************************************************************************************************/

.ofertas-precio-total {
    display: flex;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .ofertas-precio-total {
        flex-direction: column;
    }
}

.offers {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.offer {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.offer h3 {
    padding-bottom: 1.5rem;
}

.offer-description {
    color: grey;
}

@media (max-width: 768px) {
    .offers-section h1 {
        text-align: center;
    }

    .offer h3 {
        text-align: center;
        padding: 1.5rem 0;
    }
    
    .offer-details {
        text-align: center;
    }
    
    .offer {
        display: flex;
        flex-direction: column;
    }
}

.ofertas .col-form-label {
    font-size: 1.5rem;
}

.ofertas .form-check {
    padding: 0.5rem 0.5rem 0.5rem 1.4rem;
}