{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Categories</h1>

    {% for category in categories %}
        <p>
            {{ category.name }}
        </p>

    {% else %}
        No categories have been found.
    {% endfor %}
{% endblock %}