{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'frontend/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <section class="categories">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Menú</li>
                </ol>
            </nav>

            <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="{{ path('subcategory_index', {'categorySlug': category.slug}) }}">
                                {% media category.image, 'small' with {'class': 'card-img-top'} %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('subcategory_index', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>
                        No categories have been found.
                    </p>
                {% endfor %}
            </div>
            <!-- /.row -->
        </section>
    </div>
    <!-- /.container -->
{% endblock %}

{% block footer %}
    {% include 'frontend/footer.html.twig' %}
{% endblock %}



