{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Categorias</h1>

    <h2>Lista de subcategorías</h2>

    {% for subcategory in subcategories %}
        <p>
            <a href="{{ path('subcategory_index', {'categorySlug': categorySlug ,'subcategorySlug': subcategory.slug}) }}">{{ subcategory.name }}</a>
        </p>
    {% else %}
        <p>
            No categories have been found.
        </p>
    {% endfor %}
{% endblock %}