{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'frontend/navbar.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Menú</h1>

        <h2>Lista de categorías</h2>

        {% for category in categories %}
            <p>
                <a href="{{ path('subcategory_index', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
            </p>
        {% else %}
            <p>
                No subcategories have been found.
            </p>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'frontend/footer.html.twig' %}
{% endblock %}