{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Categories</h1>

    {% for category in categories %}
        <p>
            <a href="{{ path('subcategory_index', {'slug': category.slug}) }}">{{ category.name }}</a>
        </p>
    {% else %}
        <p>
            No categories have been found.
        </p>
    {% endfor %}
{% endblock %}