<header class="text-white">
    <div class="container text-center">
        <img src="{{ asset('images/logo_LFDL-transparente.png') }}" alt="Logo de LFDL">
        <h1>La Flor de Levante</h1>
        <p class="lead">Helados artesanos desde 1934</p>
    </div>
</header>

{#<h1>Tap to order - Restaurantes NFC</h1>#}
{#<ul>#}
    {#<li>#}
        {#<a href="{{ path('homepage') }}">Home</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('category_index') }}">Menú</a>#}
    {#</li>#}
    {#<li>#}
        {#Ofertas#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('order_show') }}">Pedido</a>#}
    {#</li>#}
{#</ul>#}
