<h1>Tap to order - Restaurantes NFC</h1>
<ul>
    <li>
        <a href="{{ path('homepage') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('menu_index') }}">Menú</a>
    </li>
    <li>
        Ofertas
    </li>
    <li>
        Carrito
    </li>
</ul>
